<html>
<head>
<title>sudri Django Girls blog</title>
</head>
<body>
<div>
<h1><a href="/">Django Girls Blog</a></h1>
</div>
<div>
<p>published: 12.06.2018, 12:14</p>

<h2><a href="">happy people</a></h2>

<p>happy people always face few challenges in life

</p>


</div>
<div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">its soo amazing
</a></h2>
<p>its soo amazing
being a programmer is soo interesting ,soo welcome to the world of code
</p>

<h2><a href="">hello world 1

</a></h2>

<p>welcome to my first post in may blog.

</p>
</p>

</div>
</body>
</html>
